.ListOfGifs{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit,minmax(300pX,1fr));
    grid-template-rows: masonry;
    gap: 0 15px;
    width: 100%;
    align-items: center;
}