.App {
  text-align: center;
}

.App-Content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}
.App-link {
  color: #61dafb;
}
.App-logo{
  width: 10%;
  box-shadow: 0  0  0.4rem #454a55;
  
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:rgb(153, 97, 97);
}
